//Reset
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
// Body 
body {
    font-family: 'Lato';
}
// Confg. Container
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
// Config. Row
.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
// Breakpoint do Container e da Row
@media (min-width: 1280px) {
    .container {
        padding: 0 140px;
    }
    .row {
        margin: 0;
    }
 } 